@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

#div_outer {
  width: auto;
  height: 330px;

  background: rgb(0,176,155);
  background: linear-gradient(0deg, rgba(0,176,155,1) 0%, rgba(80,190,111,1) 50%, rgba(131,198,83,1) 100%);
 
  display: flex;
  justify-content: center;
  align-items: center;
}

#div_inner h1, #div_inner h2 {
  font-size: 58px;
  color: white;
  font-weight: bold;
  text-align: center;
}

#div_inner h2 {
  font-size: 22px;
  opacity: 0.7;
  font-weight: 400;
}

#div_vid {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div_inner_inner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  font-weight: bold;
}

.navbar .navbar-nav {
  margin-left: auto; 
  margin-right: 0;
}

.navbar {
  background-color: #BBEC97;
}

#div_inner_inner button {
  margin: 8px;
  color: #BBEC97;
  border-color: #BBEC97;
  border-radius: 0px;
}

#div_inner_inner button:hover {
  background-color: #BBEC97;
  color: white;
}
